---
title: Esther Coaching
description: ' '
keywords:
header:
  header_image:
about:
  headshot_image:
  icon1_image:
  text1:
  icon2_image:
  text2:
  icon3_image:
  text3:
testimonials:
  testimonial1:
    name: Testimonial 1
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    testimonial_image: /images/emily.jpg
  testimonial2:
    name: Testimonial 2
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    testimonial_image: /images/emily.jpg
  testimonial3:
    name: Testimonial 3
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    testimonial_image: /images/emily.jpg
  testimonial4:
    name: Testimonial 4
    text: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    testimonial_image: /images/emily.jpg
layout: default
---
<header>

</header>

<section>
  <div class="text-box grid">
    <div class="col-6_md-12 pad-all-s">
      <h3 class="editable">
        Want to get free tips and advice?
      </h3>
      <p class="editable">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-6_md-12 pad-all-s">
      {{site.data.settings.contact_settings.mailchimpembed}}
    </div>
  </div>
</section>

<section>
  <div class="grid-spaceAround pad-all-xs pad-top-s">
    {% if site.data.settings.social_settings.facebook_url != '' %}
    <div>
      <a href="{{site.data.settings.social_settings.facebook_url}}" target="blank"><i class="fa fa-facebook-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if site.data.settings.social_settings.instagram_url != '' %}
    <div>
      <a href="{{site.data.settings.social_settings.instagram_url}}" target="blank"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if site.data.settings.social_settings.twitter_url != '' %}
    <div>
      <a href="{{site.data.settings.social_settings.twitter_url}}" target="blank"><i class="fa fa-twitter-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if site.data.settings.social_settings.youtube_url != '' %}
    <div>
      <a href="{{site.data.settings.social_settings.youtube_url}}" target="blank"><i class="fa fa-youtube-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if site.data.settings.social_settings.pinterest_url != '' %}
    <div>
      <a href="{{site.data.settings.social_settings.pinterest_url}}" target="blank"><i class="fa fa-pinterest-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
    {% if site.data.settings.social_settings.linkedin_url != '' %}
    <div>
      <a href="{{site.data.settings.social_settings.linkedin_url}}" target="blank"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
    </div>
    {% else %}
    {% endif %}
  </div>

  <div class="text-box margin-top-m pad-all-s" id="contact">
    <h2 class="text-center pad-bottom-s">Send an Email</h2>
    <form method="post" action="https://formspree.io/{{site.data.settings.contact_settings.email}}" id="contact-form">
      <div>
        <input type="text" name="email" placeholder="Your email address..." />
      </div>
      <div>
        <input type="text" name="name" placeholder="Your name..." />
      </div>
      <div>
        <input type="text" name="phone" placeholder="Your phone number..." />
      </div>
      <div>
        <textarea name="message" placeholder="Your message..."></textarea>
      </div>
      <input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
      <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="" />
      <div class="contact-form__item">
        <input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button-main" style="background:{{page.colors.primary_color}};
          border: solid {{page.colors.primary_color}} 1px; width: 100%;" />
      </div>
    </form>
  </div>
</section>
