<!-- main nav -->
<!-- <nav id="top" class="nav grid-spaceBetween pad-all-xs">
  <div class="logo-container">
    <a href=""><image src="{{site.data.settings.basic_settings.logo_image}}"></image></a>
  </div>
  <div class="hide-on-mobile">
    <a href="tel:{{site.data.settings.phone}}"><p><i></i>Call us today 484-334-5963</p></a>
  </div>
</nav> -->

<!-- scroll to top container (floats near the bottom right) -->
<a href="#top" class="scroll-to-top-container"><i class="fa fa-arrow-circle-up scroll-to-top-icon" aria-hidden="true"></i></a>
