<!-- open grpah - add information for social sharing -->
<meta property="og:site_name" content="{{site.data.settings.basic_settings.site_title}}"/>
<meta property="og:title" content="{{page.title}}"/>
<meta property="og:description" content="{{page.description}}"/>
<meta property="og:image" content="{{site.data.settings.basic_settings.og-image}}">
<meta property="og:image:type" content="image/png">
<meta property="og:url" content="https://www.esther.com/{{page.url}}">
<meta property="og:type" content="page"/>
<meta name="twitter:card" content="summary_large_image">
