/* universal styles ----------------------------------------- */
* {
  box-sizing: border-box;
  /* border: 1px dotted blue; */
}
img {
  max-width: 100%;
  height: auto;
}

/* layout ----------------------------------------- */
/* add because gridlex "bumps" the page layout beyond 100vw and causes "wiggle" in mobile */
[class*=grid-],[class*=grid_],[class~=grid] {
  margin: 0;
  padding: 0;
}
.header-padding {
  padding: 0 7.5%;
}
section {
  padding: 7.5% 15%;
}
@media all and (max-width:1024px) {
  section {
    padding: 7.5% 12.5%;
  }
}
@media all and (max-width:768px) {
  section {
    padding: 5% 10%;
  }
}
@media all and (max-width:576px) {
  section {
    padding: 5% 7.5%;
  }
}

/* typography ----------------------------------------- */
h1,h5,h6 {
  font-family: 'Abril Fatface', cursive;
}
h2 {
  font-family: 'Abril Fatface', cursive;
  color: #00BFB3;
  font-size: 3em;
  display: inline;
  border-bottom: 0 solid rgb(204,255,102);
  box-shadow: inset 0 -8px 0 rgb(204,255,102);
}
h3 {
  font-family: 'Abril Fatface', cursive;
  color: #180010;
  font-size: 1.6em;
}
h4 {
  font-family: 'Abril Fatface', cursive;
  color: #180010;
  font-size: 1.2em;
}

p,li {
  font-family: 'Roboto', sans-serif;
  color: #180010;
  font-size: 0.9em;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-white {
  color: white;
}
.text-dark {
  color: #180010;
}
.text-shadow {
  text-shadow: 2px 2px 6px rgba(69,69,69,0.89) !important;
}
@media all and (max-width:768px) {
  .text-center-mobile {
  text-align: center;
  }
}
/* link and button styles ----------------------------------------- */
.button-main {
  border: 3.5px solid #ed254e;
  padding: 0.6em 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #ed254e;
  background: transparent;
  text-decoration: none;
}
.button-main:hover {
  background: #ed254e;
  color: white;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
.button-white {
  border: 3.5px solid white;
  padding: 0.6em 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: white;
  background: transparent;
  text-decoration: none;
}
.button-white:hover {
  background: white;
  color: #ed254e;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

a {

}
a:hover {
  text-decoration: none;
}
.gigantic {
  font-size: 8em;
  color: white;
  margin: 0;
}
@media all and (max-width:1024px) {
  .gigantic {
    font-size: 7em;
  }
}
@media all and (max-width:768px) {
  .gigantic {
    font-size: 6em;
  }
}
@media all and (max-width:576px) {
  .gigantic {
    font-size: 5em;
  }
}
/* container styles ----------------------------------------- */
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-y: hidden;
  position: relative;
}
.half-height {
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  position: relative;
  z-index: -1;
}
.text-box {

}
.box-shadow {
  /* box-shadow: 2px 2px 6px rgba(69,69,69,0.89) !important; */
}
.bg-white {
  background-color: rgba(253, 255, 252, 0.85);
}
.bg-dark {
  background-color: #180010;
}
.bg-turq {
  background-color: #00bfb3;
}
.bg-pink {
  background-color: #ed254e;
}
.turq-overlay {
  background: linear-gradient(rgba(0, 191, 179,0.5), rgba(0, 191, 179,0.5));
}
.pink-overlay {
  background: linear-gradient(rgba(237, 37, 78,0.5), rgba(237, 37, 78,0.5));
}
.pink-outline {
  border: 5px solid #ed254e;
}

/* lime drop shadow effects */
.lime-shadow-logo {
  color: #00bfb3;
  text-shadow: -3px -3px 0px rgba(204,255,102,1);
  font-family: 'Abril Fatface', cursive;
  font-size: 7em;
  margin: 0;
  padding: 0;
}
.lime-shadow {
  text-shadow: -4px -4px 0px rgba(204,255,102,1);
}
.lime-box-shadow {
  -webkit-box-shadow: -5px -5px 0px 0px rgba(204,255,102,1);
  -moz-box-shadow: -5px -5px 0px 0px rgba(204,255,102,1);
  box-shadow: -5px -5px 0px 0px rgba(204,255,102,1);
}
svg {
    width: auto;
    height: auto;
    fill: #00bfb3;
    filter: drop-shadow(-4px -4px 0px rgba(204,255,102,1));
}


/* header and nav styles ----------------------------------------- */
.logo {
  position: absolute;
  padding-left: 7.5%;
  padding-top: 5%;
  z-index: 999;
}
.header-image {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-y: hidden;
  position: relative;
  top: 1px;
}
.header-image-cta {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-y: hidden;
  position: relative;
  top: 1px;
}
.header-cta {
  position: relative;
  min-height: 10vh;
  z-index: 999;
  width: 100%;
}

/* Scroll to top */
.scroll-to-top-container {
  position: fixed;
  bottom: 50px;
  right: 15px;
}
.scroll-to-top-icon {
  font-size: 2em;
  color: rgba(225,225,225,0.85);
}
.scroll-to-top-icon:hover {
  color: rgb(225,225,225);
  animation: wobbleud 1s linear infinite;
  -webkit-font-smoothing: antialiased;
}
@media all and (max-width:1024px) {

}
@media all and (max-width:768px) {
  .header-image-cta {
    height: 100vh;
  }
  .header-cta {
    min-height: 120px;
  }
  .header-text-container {
    padding-top: 60%;
  }
}
@media all and (max-width:576px) {
  .header-text-container {
    padding-top: 80%;
  }
}

/* page styles ----------------------------------------- */
.social-icon {
  color: white;
  font-size: 3em;
  opacity: 0.85;
}
.social-icon:hover {
  opacity: 1;
  /* color: #ed254e; */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (max-width:1024px) {

}
@media all and (max-width:768px) {
  .icon {
    max-width: 100px;
  }
}
@media all and (max-width:576px) {
  .icon {
    max-width: 80px;
  }
}
/* services pop-up */
.services-box {
  min-height: 120px;
  background-color: #00bfb3;
  -webkit-box-shadow: -5px -5px 0 0 rgba(204,255,102,1);
  -moz-box-shadow: -5px -5px 0 0 rgba(204,255,102,1);
  box-shadow: -5px -5px 0 0 rgba(204,255,102,1);
}
.services-box:hover {
  background-color: #ccff66;
  -webkit-box-shadow: 0 0 0 0 rgba(204,255,102,1);
  -moz-box-shadow: 0 0 0 0 rgba(204,255,102,1);
  box-shadow: 0 0 0 0 rgba(204,255,102,1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* modal container/background */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  background-color: rgba(253, 255, 252,0.9);
}
/* hides the modal by default */
.show {
  display: inline-block;
}
/* modal content */
.modal-content {
  border: 3.5px solid #00bfb3;
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5% 10%;
  width: 80%; /* Could be more or less, depending on screen size */
}
@media all and (max-width:768px) {
  .modal-content {
    margin: 20% auto;
    padding: 10% 5%;
  }
  .services-box {
    min-height: 80px;
  }
}
@media all and (max-width:576px) {
  .modal-content {
    margin: 5% auto;
    padding: 10%;
  }
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: #3F4041;
  text-decoration: none;
  cursor: pointer;
}
/* footer styles ----------------------------------------- */

/* form styles ----------------------------------------- */
#contact input[type="name"],
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #eee;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-family: 'Roboto', san-serif;
  color: #757679;
}
#contact input[type="name"]:hover,
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ddd;
}
#contact textarea {
  min-height: 200px;
  max-width: 100%;
  resize: none;
  font-family: 'Roboto', san-serif;
  color: #757679;
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
  font-family: 'Roboto', san-serif;
  color: #757679;
}
/* helpers ----------------------------------------- */
@media all and (max-width:768px) {
  .text-center-mobile {
  text-align: center;
  }
  .hide-tablet {
    display: none;
  }
}
@media all and (max-width:576px) {
  .hide-mobile {
    display: none;
  }
}
/* PADDING/MARGINS */
.container-center {
  margin: 0 auto !important;
}
.pad-0 {
  padding: 0 !important;
}
.pad-all-xs {
  padding: 1% !important;
}
.pad-all-s {
  padding: 5% !important;
}
.pad-all-m {
  padding: 10% !important;
}
.pad-all-l {
  padding: 20% !important;
}
.pad-top-xs {
  padding-top: 1% !important;
}
.pad-top-s {
  padding-top: 5% !important;
}
.pad-top-m {
  padding-top: 10% !important;
}
.pad-top-l {
  padding-top: 20% !important;
}
.pad-right-xs {
  padding-right: 1% !important;
}
.pad-right-s {
  padding-right: 5% !important;
}
.pad-right-m {
  padding-right: 10% !important;
}
.pad-right-l {
  padding-right: 20% !important;
}
.pad-bottom-xs {
  padding-bottom: 1% !important;
}
.pad-bottom-s {
  padding-bottom: 5% !important;
}
.pad-bottom-m {
  padding-bottom: 10% !important;
}
.pad-bottom-l {
  padding-bottom: 20% !important;
}
.pad-left-xs {
  padding-left: 1% !important;
}
.pad-left-s {
  padding-left: 5% !important;
}
.pad-left-m {
  padding-left: 10% !important;
}
.pad-left-l {
  padding-left: 20% !important;
}
.margin-0 {
  margin: 0 !important;
}
.margin-all-xs {
  margin: 1% !important;
}
.margin-all-s {
  margin: 5% !important;
}
.margin-all-m {
  margin: 10% !important;
}
.margin-all-l {
  margin: 20% !important;
}
.margin-top-xs {
  margin-top: 1% !important;
}
.margin-top-s {
  margin-top: 5% !important;
}
.margin-top-m {
  margin-top: 10% !important;
}
.margin-top-l {
  margin-top: 20% !important;
}
.margin-right-xs {
  margin-right: 1% !important;
}
.margin-right-s {
  margin-right: 5% !important;
}
.margin-right-m {
  margin-right: 10% !important;
}
.margin-right-l {
  margin-right: 20% !important;
}
.margin-bottom-xs {
  margin-bottom: 1% !important;
}
.margin-bottom-s {
  margin-bottom: 5% !important;
}
.margin-bottom-m {
  margin-bottom: 10% !important;
}
.margin-bottom-l {
  margin-bottom: 20% !important;
}
.margin-left-xs {
  margin-left: 1% !important;
}
.margin-left-s {
  margin-left: 5% !important;
}
.margin-left-m {
  margin-left: 10% !important;
}
.margin-left-l {
  margin-left: 20% !important;
}
/* POSITION */
.position-rel {
  position: relative;
}
.position-abs {
  position: absolute;
}
